.logo {
  width: 120px;
  height: 31px;
  background: rgb(255, 255, 255);
  background-image: url("https://logoipsum.com/assets/logo/logo-5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 16px 24px 16px 0;
  float: left;
}

// TODO move it to ant theme ~ Marcin Przybył
.ant-layout-header{
  background: #fff;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
}


.ck-editor__editable {
  min-height: 500px;
}